# ==========================================================
# PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# VIRTUAL ENVIRONMENT
# ==========================================================

venv/
.venv/
env/

# ==========================================================
# ENVIRONMENT / SECRETS
# ==========================================================

.env
.env.*
!.env.example

# ==========================================================
# JUPYTER
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# STREAMLIT
# ==========================================================

.streamlit/secrets.toml

# ==========================================================
# TEMPORARY / CACHE
# ==========================================================

*.log
*.tmp
*.cache

# ==========================================================
# PROJECT ASSETS / LOCAL FILES
# ==========================================================

assets/

# ==========================================================
# UNNECESSARY DATASET
# ==========================================================

tmdb_5000_credits.csv